<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
   <div class="container">
        <iframe width="560" height="315" src="{{ item.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
     <div class="row">
   <div class="col-sm-6">
     <hr>
     <h5>Comments:</h5>
     {% for comment in item.user_vedio.all %}
     <p><a href="#">@{{comment.user}}</a> {{comment.comment}}<br><h6>{{comment.comment_date}}</h6></p>
     {% endfor %}
   </div>
   <div class="col-sm-6">
     <form method="POST">
       {{ comment_form|crispy }}
       {% csrf_token %}
       <button type="submit" class="btn btn-primary btn-sm">Comment</button>
     </form>
   </div>

 </div>
 {% endblock %}
